@font-face {
    font-family: general;
    src: url(/frontend/assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

*{
    font-family: general;
}

body{
    min-height: 100vh;
    max-height: fit-content;
    margin: 0;
    position: relative;
}

header{
    background-image: url(../assets/images/headerBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}

header section{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.logo{
    width: 45px;
    height: 45px;
}


#CategorieName p{
    margin: 0;
    font-size: xx-large;
    color: #f9f9f9;
}

nav{
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 0 0 10px;
}

nav input{
    width: 70%;
    border-radius: 15px;
    outline: none;
    border: none;
    padding-left: 1rem;
}

nav input::placeholder{
    font-size: small;
    color: rgb(0, 0, 0,0.2);
}   

nav button{
    background: none;
    border: none;
}

nav i{
    font-size: x-large;
}



#cantidadCarrito{
    position: absolute;
    top: -65%;
    left: 50%;
    background-color: #ff6392;
    border-radius: 100%;
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cantidadCarrito p{
    color: #f9f9f9;
    font-size: x-small;
    margin: 0;
}

/*////////////////Main////////////////*/

main{
    padding: 1rem 1rem 6rem 1rem;
    height: fit-content;
}

.sloganCategories{
    font-size: x-large;
    color: gray;
}

/*////////// Categorie Card//////////////*/
.companieCard{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 12px;
    height: 180px;
    position: relative;
    margin-top: 10px;
}

.companieImage{
    position: relative;
}

.companieImageBackground{
    background-color: aquamarine;
    height: 7rem;
    width: 5rem;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
}

.companieImage img{
    width: 6rem;
    position: absolute;
    left: 15%;
    border-radius: 20%;
    top: 10px;
}

.companieInfo{
    position: absolute;
    bottom: 0;
    padding: 5px 0;
}

.companieInfo p{
    margin: 0;
    color: gray;
}

.companieInfo i{
    font-size: smaller;
}

/*/////// footer///////////////*/

footer{
    position: absolute;
    bottom: 0;
    background-color: #5aa9e6;
    display: flex;
    gap: 2rem;
    width: -webkit-fill-available;
    padding: 10px;
    height: 5rem;
}

footer div a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #f9f9f9;
    font-size: 9px;
    font-weight: lighter;
}

footer div p{
    margin: 0;
    font-weight: bold;
    color: #f9f9f9;
    font-size: 12px;
}

/*//////////////Menu Lateral/////////////*/
.offcanvas{
    background-color: #5aa9e6 !important;
}

#imgMenuProfile{
    border-radius: 100%;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    margin-left: 2rem;
}

#imgMenuProfile img{
    object-fit: cover;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

#rightMenu p{
    background-color: #7fc8f8;
    height: 3rem;
    width: 15rem;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f9f9;
    font-size: larger;
    margin-top: 1rem;
}

#rightMenu a{
    color: #f9f9f9;
}

#rightMenu li{
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

.imgMenuProfile{
    overflow: hidden;
    width: 12rem;
    height: 3rem;
    display: flex;
    align-items: center;
}


.imgMenuProfile img{
    width: 12rem;
} 
